* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px 150px 0px 150px;
  gap: 70px;
  justify-items: center;
}

.book {
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: rgb(136, 82, 32);
  color: white;
  position: relative;
  border-style: none double double none;
  border-width: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-duration: 200ms;
}
.book:hover {
  border-right-width: 27px;
  border-bottom-width: 22px;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.author {
  font-size: 16px;
  font-style: italic;
}

.book-bottom {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  gap: 88%;
}

.read {
  background-color: rgb(1, 163, 238);
  height: 20px;
  width: 100%;
  padding-top: 3px;
}

.book-top {
  margin-top: 20px;
}

.book-button-container {
  position: absolute;
  top: 90px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  gap: 5px;
}

.book-button-container button {
  border: none;
  color: white;
  padding: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 35px;
  width: 65px;
  font-weight: bold;
  transition-duration: 100ms;
}
.book-button-container button:hover {
  width: 70px;
}
.book-button-container button:active {
  filter: brightness(90%);
}

.remove {
  background-color: rgb(224, 60, 60);
}

.read-button {
  background-color: rgb(1, 163, 238);
}

dialog + div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#new-book-button {
  height: 40px;
  width: 100px;
  background-color: rgb(2, 147, 2);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 100ms;
}
#new-book-button:hover {
  background-color: rgb(2, 162, 2);
}
#new-book-button:active {
  box-shadow: 0px 0px 15px rgb(0, 99, 0) inset;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid white;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.3);
}
dialog::backdrop {
  display: none;
}

form {
  padding: 10px;
  height: 300px;
  width: 350px;
  font-size: 20px;
  background-color: rgb(136, 82, 32);
  color: white;
}

form div {
  margin-bottom: 15px;
  margin-left: 10px;
}

#title,
#author {
  height: 30px;
  width: 300px;
  text-indent: 5px;
  font-size: 16px;
}

#read {
  height: 18px;
  width: 18px;
  vertical-align: -2.5px;
}

#page {
  height: 25px;
  width: 100px;
  font-size: 18px;
  vertical-align: 2px;
  text-indent: 5px;
}

form input {
  background-color: rgb(150, 109, 49);
  border: none;
  outline-color: white;
  color: white;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0;
  gap: 10px;
}

.button-container button {
  height: 35px;
  width: 80px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 50ms;
}

#add {
  background-color: rgb(2, 147, 2);
}
#add:hover {
  box-shadow: 0 0 0 1px rgb(2, 147, 2);
  filter: brightness(108%);
}

#close {
  background-color: rgb(190, 0, 0);
}
#close:hover {
  box-shadow: 0 0 0 1px rgb(190, 0, 0);
  filter: brightness(108%);
}


